.card{
    background: #0f0c29a1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29be);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243ec1, #302b63b8, #0f0c29ae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 360px;    
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
  
}


.imagen{
    height: 150px;
    width: 150px;
    border-radius: 4px;
}
.idtitle{
    margin: 0;
}
.title{
    margin: 0;
    padding: 0;
}