.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    
  
}

.loading_title{
  font-size: 20px;
}

.input_search{
  border: 1px solid black;
  padding: 15px;
  width: 40%;
  border-radius: 5px;
}

.button_search{
  border: none;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.linkstyle{
    text-decoration: none;
  }
  .title{
    margin: 0;
  }
.select{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    display:inline-block;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-style: groove;
    color: white;
}

.selectflex{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
  }

  .refresh{
  
    border-radius: 10px;
    font-family: italic;
    color:white;
    font-size: 14px;
   background: #0f0c2983;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c298d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e9f, #302b6399, #0f0c2982); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:  3px 13px 3px 13px ;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 15px;
    
  }

  .create{
  
    border-radius: 10px;
    font-family: italic;
    color:white;
    font-size: 14px;
   background: #0f0c2983;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c298d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e9f, #302b6399, #0f0c2982); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:  3px 13px 3px 13px ;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 10px;
    font-size: 15px;
  }


.containercr{
    margin-top: 20px;
}

option{
  color:  rgb(15, 14, 14);
}